.conversation-wrap{
  box-shadow: -2px 0 3px #ddd;
  padding:0;
  max-height: 400px;
  overflow: auto;
}

.conversation{
  padding:5px;
  border-bottom:1px solid #ddd;
  margin:0;
}

.time{
  color:#bfbfbf;
}

.content {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}
